{% extends 'base.html' %}

{% block body %}
  <h5>유저 번호:
    {{ user.pk }}</h5>
  <h1>제목:
    {{ user.username }}</h1>
  <h6>이메일:
    {{ user.email }}</h6>
  <p>생성 일자:
    {{ user.date_joined }}</p>

  <hr class="mt-5">
  <button class="btn btn-secondary">
    <a href="{% url 'accounts:index' %}" class="text-white text-decoration-none">
      메인
    </a>
  </button>
  <button class="btn btn-primary">
    <a href="{% url 'accounts:update' %}" class="text-white text-decoration-none">
      수정
    </a>
  </button>
  <button class="btn btn-info">
    <a href="{% url 'accounts:password_change' %}" class="text-white text-decoration-none">
      비밀번호 변경
    </a>
  </button>
  <button class="btn btn-danger">
    <a href="{% url 'accounts:delete' %}" class="text-white text-decoration-none">
      삭제
    </a>
  </button>

{% endblock body %}