{% extends 'base.html' %}

{% block body %}
  <h1>index</h1>
  <div class="btn btn-secondary">
    <a href="../" class="text-decoration-none text-white">
      메인
    </a>
  </div>

  {% comment %} 테이블 {% endcomment %}
  <table class="table mt-5">
    <thead class="table-dark">
      <tr>
        <th scope="col">title</th>
        <th scope="col">user_name</th>
        <th scope="col">create_at</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <td>
            <a href={% url 'articles:detail' article.pk %}>
              {{ article.title }}
            </a>
          </td>
          <td>{{ article.user_name }}</td>
          <td>{{ article.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if request.user.is_authenticated %}
  <div class="btn btn-primary">
    <a href="{% url 'articles:create' %}" class="text-decoration-none text-white">
      글 작성
    </a>
  </div>
  {% else %}
  <div class="btn btn-primary">
    <a href="{% url 'accounts:login' %}" class="text-decoration-none text-white">
      Login to Write
    </a>
  </div>
  {% endif %}


{% endblock body %}