{% extends 'base.html' %}

{% block body %}
  <h1>index</h1>

  <table class="table mt-5">
    <thead class="table-dark">
      <tr>
        <th scope="col">title</th>
        <th scope="col">user_name</th>
        <th scope="col">create_at</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <td>
            <a href={% url 'articles:detail' article.pk %}>
              {{ article.title }}
            </a>
          </td>
          <td>{{ article.user_name }}</td>
          <td>{{ article.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body %}