{% extends 'base.html' %}
{% load static %}

{% block body %}
  <h1>index</h1>
    
  {% comment %} 테이블 {% endcomment %}
  <table class="table mt-5">
    <thead class="table-dark">
      <tr>
        <th>글 번호</th>
        <th>제목</th>
        <th>이름</th>
        <th>생성일자</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <td>{{ article.pk }}</td>
          <td>
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
            </td>
          <td>{{ article.user_name }}</td>
          <td>{{ article.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% comment %} 버튼 {% endcomment %}
  {% if request.user.is_authenticated %}
  <a href="{% url 'articles:create' %}">
    글 작성
  </a>
  {% else %}
  <a href="{% url 'articles:create' %}">
    글 작성
  </a>
  {% endif %}
{% endblock body %}