{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <h1>search</h1>
  
  {% comment %} 테이블 {% endcomment %}
  <table class="table mt-5">
    <thead class="table-dark">
      <tr>
        <th>글 번호</th>
        <th>제목</th>
        <th>이름</th>
        <th>생성일자</th>
      </tr>
    </thead>
    <tbody>
      {% for article in article_list %}
        <tr>
          <td>{{ article.pk }}</td>
          <td>
            <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
            </td>
          <td>{{ article.user_name }}</td>
          <td>{{ article.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- 페이징처리 시작 -->
  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if article_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ article_list.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in article_list.paginator.page_range %}
    {% if page_number == article_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if article_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ article_list.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->


{% endblock body %}