{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    <section class="container my-5">
      
      {% if request.user.is_authenticated %}
      <h3>{{ user }}</h3>
      <form action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="로그아웃">
      </form>
      <a href="{% url 'accounts:update' %}">회원정보 수정</a>
      <a href="{% url 'accounts:change_password' %}">비밀번호 변경</a>

      {% else %}
      {% comment %} 회원가입 {% endcomment %}
      <a href="{% url 'accounts:signup' %}">회원가입</a>
      <a href="{% url 'accounts:login' %}">로그인</a>

      {% endif %}
      <hr>

      {% block body %}
      {% endblock body %}
    </section>
  </body>

</html>