{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <h5>글 번호:
    {{ article.pk }}</h5>
  <h1>제목:
    {{ article.title }}</h1>
  <h6>생성 일자:
    {{ article.created_at }}</h6>
  <p>내용:
    {{ article.content }}</p>

  <hr class="mt-5">
  <h3>
    댓글: {{ article.comment_set.count }}개
  </h3>
  
  {% comment %} 댓글창 {% endcomment %}
  <div class="mt-5">
  {% for comment in comments %}
    <div class="d-flex justify-content-between">
      <div>
        <p>{{ comment.content }}</p>
        <p><a href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user }}</a> | {{ comment.created_at }}</p>
      </div>
      <div>

        {% comment %} 댓글 수정 {% endcomment %}
        <a href="">수정</a>

        {% comment %} 댓글 삭제 {% endcomment %}
        <!-- 요청과 댓글의 user 일치하면 삭제 -->
        {% if request.user == comment.user %}
          <button type="button" class="btn btn-danger">
            <a href="{% url 'articles:comment_delete' article.pk comment.pk %}" class="text-white text-decoration-none">삭제</a>
          </button>

        <!-- 요청과 댓글의 user 일치X = 모달 -->
        {% else %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            삭제
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-primary bg-opacity-25">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">삭제 오류</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  본인이 작성한 댓글만 삭제할 수 있습니다.
                </div>
              </div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
    <hr>
    {% empty %}
    <p>no comments</p>
  {% endfor %}
  </div>

  {% comment %} 댓글 입력 폼 {% endcomment %}
  {% if request.user.is_authenticated %}
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST" class="mt-5">
    {% bootstrap_form comment_form layout="inline" %}
    {% csrf_token %}
    <div class="d-flex justify-content-end mt-3">
      {% comment %} 댓글_등록 {% endcomment %}
      {% bootstrap_button button_type="submit" content="등록" button_class="btn-primary" %}
    </div>
  </form>
  {% endif %}


  {% comment %} 버튼 {% endcomment %}
  <hr class="mt-5">
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary">
      <a href="{% url 'articles:index' %}" class="text-white text-decoration-none">
        메인
      </a>
    </button>
    <button class="btn btn-primary mx-1">
      <a href="{% url 'articles:update' article.pk %}" class="text-white text-decoration-none">
        수정
      </a>
    </button>
    <button class="btn btn-danger">
      <a href="{% url 'articles:delete' article.pk %}" class="text-white text-decoration-none">
        삭제
      </a>
    </button>
  </div>

{% endblock body %}